<a href="https://colab.research.google.com/github/supriem/Data-Science/blob/master/Copy_of_Testing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np

In [ ]:
import pandas as pd

# New Section

In [ ]:
df = pd.read_fwf(r'/newdata.txt', header=None)
df.head()

                        0
0  1. Alvaro Morata Miser
1  2. Messi Andres Scorer
2        this fsbjfdgdfmz
3                dfgfdg@g
4                   F;''f

In [ ]:
print(" Ia am adding this line")

 Ia am adding this line

In [ ]:
print("damn")

damn